/*---------- Base Styles ----------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  padding-top: 30px;
  clear: both;
}

img {
  max-width: 100%;
}

/*----- Styles -----*/
/*--Container--*/

.container {
  padding: 0 2em;
  max-width: 1100px;
  text-align: center;
  margin: auto;
}


/*--Lightbox--*/

.lightbox .lb-image {
  border: none;
}

.lb-nav a.lb-prev,
.lb-nav a.lb-next {
  opacity: 1;
}


/*Lightbox Description*/
.lb-data .lb-details {
  width: 100%;
  text-align: center;
  margin: auto;
}

.lb-data h1 {
  font-size: 2.5em;
  color: white;
}

.lb-data p {
  max-width: 600px;
  margin: auto;
  font-size: 2em;
  margin-top: 35px;
  line-height: 1.5em;
  color: white;
}

.lb-data .lb-close {
  display: none;
}

/*----Selectors----*/

input[type="search"] {
  width: 80%;
  max-width: 500px;
  height: 45px;
  margin: 30px auto 0;
  border: 2px solid #ccc;
}



/*--Placeholder---*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 10px;
  font-size: 1.15em;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 10px;
  font-size: 1.15em;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: 10px;
  font-size: 1.15em;
}
:-moz-placeholder { /* Firefox 18- */
  padding-left: 10px;
  font-size: 1.15em;
}

/*----Media Queries----*/
/* 480 Pixels */
@media (min-width: 480px) {
  li {
    float: left;
    width: 46%;
    margin: 2%;
  }
}

/* 600 Pixels */
@media (min-width: 600px) {
  li {
    width: 29.333%;
  }
}


/* 900 Pixels */
@media (min-width: 900px) {
   li {
    width: 21%;
  }

  /* Lightbox */
  .lb-nav a.lb-next {
  position: absolute;
  right: -100px;
  }
  .lb-nav a.lb-prev {
  position: absolute;
  left: -100px;
  }
}
