/*---------- Base Styles ----------*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

/*----- Styles -----*/


li {
  display: inline-block;
  width: 20%;
  margin: 2.5%;
  padding: 0;
}

.lb-data .lb-details {
  width: 100%;
  text-align: center;
  margin: auto;
}

.lb-data .lb-close {
  display: none;
}

.lb-data h1 {
  font-size: 2.5em;
  color: white;
}

.lb-data p {
  max-width: 600px;
  margin: auto;
  font-size: 2em;
  margin-top: 35px;
  line-height: 1.5em;
  color: white;
}

.lightbox .lb-image {
  border: none;
}


img {
  padding: 0;
}




/*-- Classes --*/
.container {
  width: 80%;
  text-align: center;
  margin: auto;
}




/*--Selectors--*/

input[type="search"] {
  margin-top: 50px;
  width: 50%;
  height: 35px;
}

/* TO DO

Fix Layout display (4x3)
Move buttons to right of image
Add Search plugin & function
Add footer

*/
